<div class='modal-card'>
  <div class='modal-card__thumb-left'>
    <img
      class='modal-card__img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt='{{original_title}}'
      data-id='{{imdb_id}}'
      width='240'
      onerror='this.onerror=null;this.src="../images/mobile/poster-modal-plug-mobile.jpg";'
    />
  </div>

  <div class='modal-card__thumb-right thumb-right'>
    <h2 class='thumb-right__title'>{{original_title}}</h2>
    <div class='thumb-right__row'>
      <div class='thumb-right__text'>Vote / Votes</div>
      <div class='thumb-right__details'><span
          class='thumb-right__details--accent'
        >{{vote_average}}</span>
        /
        {{vote_count}}</div>
    </div>
    <div class='thumb-right__row'>
      <div class='thumb-right__text'>Popularity</div>
      <div class='thumb-details'>{{popularity}}</div>
    </div>
    <div class='thumb-right__row'>
      <div class='thumb-right__text'>Original Title</div>
      <div class='thumb-details'>{{original_title}}</div>
    </div>
    <div class='thumb-right__row'>
      <div class='thumb-right__text'>Genre</div>
      <div class='thumb-details'>
        {{#each genres}}
          <span>{{name}}</span>
        {{/each}}
      </div>
    </div>
    <h3 class='thumb-right__about'>About</h3>
    <p class='thumb-right__overview'>
      {{overview}}
    </p>
    <button class='modal-card__watched-btn'>Add to watched</button>
    <button class='modal-card__queue-btn'>Add to queue</button>
    <button class='modal-card__btn' data-modal-close>
      <svg class='card-btn-close' width='30px' height='30px'>
        <use href='/src/images/sprite.svg#card-btn-close'></use>
      </svg>
    </button>
  </div>
</div>