{{#each this}}
  <div class='swiper-slide' data-action='{{id}}' data-open-modal>
    <div class='content-wrap'>
      <img
        class='swiper-slide__poster'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}}'
        data-id='{{imdb_id}}'
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
      />
      <div class='slide-thumb'>
        <h3 class='film-title'>{{title}}</h3>
        <span class='card__vote'>{{numberFixed vote_average}}</span>
      </div>

    </div>
  </div>
{{/each}}